<!DOCTYPE html>
<html lang="eng"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar-default">
        <div class="container">
            <div class="row">
                <div class="navbar-header navbar-fixed-top">
                    <a class="navbar-brand" href="#">Scramble</a>
                </div>
                <div class="navbar-header navbar-fixed-top">
                    <a class="navbar-text" href="#" th:href="@{/new}">New scramble note</a>
                </div>
            </div>
        </div>
    </nav>

</div>
</html>